<form class="form">
  <input class="input" type="text" ng-model="madLib.emotion1" placeholder="Emotion">
  <input class="input" type="text" ng-model="madLib.company" placeholder="Company Name">
  <input class="input" type="text" ng-model="madLib.job" placeholder="Job Title">
  <input class="input" type="text" ng-model="madLib.activity" placeholder="Favorite Activity">
  <input class="input" type="text" ng-model="madLib.skill" placeholder="Impressive Skill">
  <input class="input" type="text" ng-model="madLib.adj" placeholder="Adjective">
  <input class="input" type="text" ng-model="madLib.tech" placeholder="Type of Technology">
  <input class="input" type="text" ng-model="madLib.emotion2" placeholder="Emotion">
  <input class="input" type="text" ng-model="madLib.name" placeholder="Your name">
  <button type="button" ng-click="addWords(madLib)">Submit</button>
</form>
